<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Page</title>
	</head>
	<body>
		<h3>Welcome <%= username %>!</h3>
		<h1>Pokemon List</h1>
		<ul id="pokemon-list"></ul>
		<h3>My Favorites</h3>
		<ul id="favorites-list"></ul>
		<script>
			fetch("https://pokeapi.co/api/v2/pokemon?limit=10")
				.then((response) => response.json())
				.then((data) => {
					const pokemonList = document.getElementById("pokemon-list");
					data.results.forEach((pokemon) => {
						const li = document.createElement("li");
						li.textContent = pokemon.name;
						li.style.cursor = "pointer";
						li.style.color = "blue";

						li.addEventListener("click", () => {
							fetch(`/addFav/${pokemon.name}`)
								.then((res) => res.json())
								.then((data) => {
									if (data.success) {
										alert(data.message);
									} else {
										alert("failed to add favorite");
									}
								})
								.catch((error) =>
									console.error("Error adding favorites", error)
								);
						});
						pokemonList.appendChild(li);
					});
				})
				.catch((error) => console.error("Error fetching Pokemon:", error));

			function fetchFavorites() {
				fetch("/favorites")
					.then((response) => response.json())
					.then((favorites) => {
						const favslist = document.getElementById("favorites-list");
						favslist.innerHTML = "";
						favorites.forEach((fav) => {
							const li = document.createElement("li");
							li.textContent = fav.pokemonname;
							favslist.appendChild(li);
						});
					})
					.catch((error) => console.error("error fetching favorites:", error));
			}
		</script>
	</body>
</html>
